<!DOCTYPE html>
<html>
<head>
    <title>Camping - Sports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/camping.css">
</head>
<body>
<div class='header'>
<div class="menu-open"><i class="fa-solid fa-bars"></i></div>
<div class='menu'>
    <ul>
        <li><a href='home.html'>Home</a></li>
        <li><a href='sports.html'>Sports</a></li>
        <li><a href='contact_us.html'>Contact</a></li>
        <li><a href='login.html'>Account</a></li>
    </ul>
</div>
<div class="logo">
    <img src="/static/img/logo.png" alt="Sports" class="logo-img">
    <h1>DTHSport</h1>
</div>
</div>
<div class="header-post">
    <div class="img-post">
        <img src="/static/img/camping/1.jpg">
    </div>
    <div class="img-post">
        <img src="/static/img/camping/2.jpg">
    </div>
</div>
<div class="continer">
<div class="conti">
    <h2>Camping</h2>
    <p>What is Camping? Camping is an outdoor activity that involves staying the night/more than one night in a protective shelter out in nature. Camping is a broad term but in its essence, camping is a way of getting away from the hassle of urban life, to a more natural environment for a limited time.
    </p>
    <h3>Camping Facilities</h3>
    <p>The facilities on our camping: all luxurious sites with electricity connection, running water and sewage; Sat-TV; modern bathrooms; heated ski and boot room ...</p>
    <table>
        <tr class="tr"><td>Wearing to</td><td>None</td></tr>
        <tr><td>Sleeping bags.</td><td></td></tr>
        <tr><td>Sleeping pads.</td><td></td></tr>
        <tr><td>Camping pillow.</td><td></td></tr>
        <tr><td>Headlamps</td><td></td></tr>
        <tr><td>Camp chairs.</td><td></td></tr>
        <tr><td>Camp table</td><td></td></tr>
        <tr><td>Tent</td><td></td></tr>

    </table>
    <h3>Conditions and Rules</h3>
    <p>Staying at our campsite means that you accept our Camping Rules and abide by them. • Any violation of our Camping Rules may lead to eviction from the campsite.</p>
<ol>
    <li>Be aware of any risks around your tent. ...</li>
    <li>Bring plenty of food and water. ...</li>
    <li>Be aware of the weather. ...</li>
    <li>Have First Aid equipment available. ...</li>
</ol>    
</div>
</div>
<div class='h2-title'>
    <h2>Amazing Camping<br/>in the world</h2>
</div>
    <div class="continer">
        <!---post 1 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/camping/3.jpg"/>
            </div>
            <div class="title-post">
                <h2>Camping</h2>
            </div>
            </div>
        <!---post 2 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/camping/4.jpg"/>
            </div>
            <div class="title-post">
                <h2>Camping</h2>
            </div>
            </div>
        <!---post 3 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/camping/5.jpg"/>
            </div>
            <div class="title-post">
                <h2>Camping</h2>
            </div>
            </div>
        </div>
<footer>
    <div class="continer">
        <div class='footer-top'>
            <h2>Ihope you find your best sport</h2>
        <div class="email-address"><input type="email" placeholder="Email Address"/>
        <span class="send">SAND</span>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="st1">
                <div class="logo">
                    <img src="/static/img/logo.png" alt="Sports" class="logo-img">
                    <h1>DIHSpot</h1>
                </div>
                <p class='disc'>We Know the world what sports games are spread around the world .</p>
                <ul class='social'>
                    <li><a href='https://www.facebook.com/profile.php?id=100009614706988&mibextid=ZbWKwL' class='facebook' target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href='#' class='twitter'><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href='https://www.instagram.com/p/Cg4cSKrM2yA/?igshid=NDk5N2NlZjQ=' class='instagram' target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href='https://www.linkedin.com/in/diaa-alqaisi-487628191' class='linkedin' target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="st2">
                <h3>Links</h3>
                <a href="home.html"><p>Home</p></a>
                <a href="sports.html"><p>Sports</p></a>
                <a href="contact_us.html"><p>Contact</p></a>
                <a href="login.html"><p>Account</p></a>
            </div>
            <div class="st3">
                <h3>Services</h3>
                <a href="#"><p>Low Price</p></a>
                <a href="#"><p>Good Material</p></a>
                <a href="#"><p>Nice Sport</p></a>
            </div>
            <div class="st4">
                <h3>Support</h3>
                <a href="#"><p>You can send</p></a>
                <a href="#"><p>email or in my</p></a>
                <a href="#"><p>Nice Sport</p></a>
                </div>
            <div class="st5">
                <h3>Loaction</h3>
                <p>Iraq , Baghdad , Zayouna</p>
                <h3>Contact</h3>
                <p>diaaalqais@gmail.com</p>
                <p>+9647705039608</p>
            </div>
        </div>
    </div>  
</footer>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script>
$(function(){$(".menu-open").click(function(){
    $("body").toggleClass("open-active");
});
});
</script>
</body>
</html>