<!DOCTYPE html>
<html>
<head>
    <title>ٍLogin - Sports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
<div class='header'>
<div class="menu-open"><i class="fa-solid fa-bars"></i></div>
<div class='menu'>
    <ul>
        <li><a href='home.html'>Home</a></li>
        <li><a href='sports.html'>Sports</a></li>
        <li><a href='contact_us.html'>Contact</a></li>
        <li><a href='login.html'>Account</a></li>
    </ul>
</div>
<div class="logo">
    <img src="/img/logo.png" alt="Sports" class="logo-img">
    <h1>DTHSport</h1>
</div>
</div>
<div class="continer">
    <div class="img-con">
        <img src="/img/login.png" alt="">
    </div>
    <div class="txt-con">
        <h3>Login</h3>
        <p class='pr'>Please Type Your Informtion</p>
        <div class="form">
            <form class="login-form">
              <label>Email <b>*</b></label>
              <input type="email" placeholder="Email"/>
              <label>Password <b>*</b></label>
              <input type="password" placeholder="password"/>
              <a href="" class='forget'>Forget Password</a>
              <p class="message">If you dont have account <a href="register.html">  Go REGISTER</a></p>
              <div class="log-button"><span>Login</span></div>
            </form>
          </div>
    </div>
</div>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<script>
$(function(){$(".menu-open").click(function(){
    $("body").toggleClass("open-active");
});
});
    </script>

</body>
</html>