<!DOCTYPE html>
<html>
<head>
    <title>Mountaineering - Sports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/mountaineering.css">
</head>
<body>
<div class='header'>
<div class="menu-open"><i class="fa-solid fa-bars"></i></div>
<div class='menu'>
    <ul>
        <li><a href='home.html'>Home</a></li>
        <li><a href='sports.html'>Sports</a></li>
        <li><a href='contact_us.html'>Contact</a></li>
        <li><a href='login.html'>Account</a></li>
    </ul>
</div>
<div class="logo">
    <img src="/static/img/logo.png" alt="Sports" class="logo-img">
    <h1>DTHSport</h1>
</div>
</div>
<div class="header-post">
    <div class="img-post">
        <img src="/static/img/Mountaineering/1.jpg">
    </div>
    <div class="img-post">
        <img src="/static/img/Mountaineering/2.jpg">
    </div>
</div>
<div class="continer">
<div class="conti">
    <h2>Mountaineering</h2>
    <p>Mountaineering or alpinism, is a set of outdoor activities that involves ascending tall mountains. Mountaineering-related activities include traditional outdoor climbing, skiing, and traversing via ferratas. Indoor climbing, sport climbing, and bouldering are also considered variants of mountaineering by some.</p>
    <h3>Mountaineering Facilities</h3>
    <p>Mountaineering-related activities include traditional outdoor climbing, skiing, and traversing via ferratas. Indoor climbing, sport climbing, and bouldering are ...</p>
    <table>
        <tr class="tr"><td>Wearing to</td><td>None</td></tr>
        <tr><td>mountaineering</td><td></td></tr>
        <tr><td>boots</td><td></td></tr>
        <tr><td>crampons</td><td></td></tr>
        <tr><td>a climbing helmet<br/>and an ice axe</td><td></td></tr>
    </table>
    <h3>Conditions and Rules</h3>
    <p>Rule 1: It's always further than it looks. Audacious treks on remote trails can place you under variable weather conditions for up to eight to 12 hours a day; ...</p>
<ol>
    <li>good physical endurance</li>
    <li>mental strength and a solid understanding of mountaineering and alpine climbing techniques.</li>
</ol>    
</div>
</div>
<div class='h2-title'>
    <h2>Amazing Mountaineering<br/>in the world</h2>
</div>
    <div class="continer">
        <!---post 1 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/Mountaineering/3.jpg"/>
            </div>
            <div class="title-post">
                <h2>Mountaineering</h2>
            </div>
            </div>
        <!---post 2 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/Mountaineering/4.jpg"/>
            </div>
            <div class="title-post">
                <h2>Mountaineering</h2>
            </div>
            </div>
        <!---post 3 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/Mountaineering/5.jpg"/>
            </div>
            <div class="title-post">
                <h2>Mountaineering</h2>
            </div>
            </div>
        </div>
<footer>
    <div class="continer">
        <div class='footer-top'>
            <h2>Ihope you find your best sport</h2>
        <div class="email-address"><input type="email" placeholder="Email Address"/>
        <span class="send">SAND</span>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="st1">
                <div class="logo">
                    <img src="/static/img/logo.png" alt="Sports" class="logo-img">
                    <h1>DIHSpot</h1>
                </div>
                <p class='disc'>We Know the world what sports games are spread around the world .</p>
                <ul class='social'>
                    <li><a href='https://www.facebook.com/profile.php?id=100009614706988&mibextid=ZbWKwL' class='facebook' target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href='#' class='twitter'><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href='https://www.instagram.com/p/Cg4cSKrM2yA/?igshid=NDk5N2NlZjQ=' class='instagram' target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href='https://www.linkedin.com/in/diaa-alqaisi-487628191' class='linkedin' target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="st2">
                <h3>Links</h3>
                <a href="home.html"><p>Home</p></a>
                <a href="sports.html"><p>Sports</p></a>
                <a href="contact_us.html"><p>Contact</p></a>
                <a href="login.html"><p>Account</p></a>
            </div>
            <div class="st3">
                <h3>Services</h3>
                <a href="#"><p>Low Price</p></a>
                <a href="#"><p>Good Material</p></a>
                <a href="#"><p>Nice Sport</p></a>
            </div>
            <div class="st4">
                <h3>Support</h3>
                <a href="#"><p>You can send</p></a>
                <a href="#"><p>email or in my</p></a>
                <a href="#"><p>Nice Sport</p></a>
                </div>
            <div class="st5">
                <h3>Loaction</h3>
                <p>Iraq , Baghdad , Zayouna</p>
                <h3>Contact</h3>
                <p>diaaalqais@gmail.com</p>
                <p>+9647705039608</p>
            </div>
        </div>
    </div>  
</footer>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script>
$(function(){$(".menu-open").click(function(){
    $("body").toggleClass("open-active");
});
});
</script>
</body>
</html>