<!DOCTYPE html>
<html>
<head>
    <title>Sports - Sports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/sports.css">
</head>
<body>
<div class='header'>
<div class="menu-open"><i class="fa-solid fa-bars"></i></div>
<div class='menu'>
    <ul>
        <li><a href='home.html'>Home</a></li>
        <li><a href='sports.html'>Sports</a></li>
        <li><a href='contact_us.html'>Contact</a></li>
        <li><a href='login.html'>Account</a></li>
    </ul>
</div>
<div class="logo">
    <img src="/static/img/logo.png" alt="Sports" class="logo-img">
    <h1>DTHSport</h1>
</div>
</div>
<div class='img-header'>
<h3>Type of Sports</h3>
</div>
<div class="continer">
<!---post 1 -->
<div class="post">
    <div class="img-post">
        <img src="/static/img/sports/1.png"/>
    </div>
    <div class="title-post">
        <h2><a href='swimming.html'>Swimming</a></h2>
        <p>Swimming is an individual or team racing sport that requires the use of one's</p>
        <span></span>
    </div>
    </div>
<!---post 2 -->
<div class="post">
    <div class="img-post">
        <img src="/static/img/sports/2.png"/>
    </div>
    <div class="title-post">
        <h2><a href="football.html">FootBalls</a></h2>
        <p>Football news, scores, results, fixtures and videos from the Premier Leage</p>
        <span style="background:#f7921e"></span>
    </div>
    </div>
<!---post 3 -->
<div class="post">
    <div class="img-post">
        <img src="/static/img/sports/3.png"/>
    </div>
    <div class="title-post">
        <h2><a href='running.html'>Running</a></h2>
        <p>Running is a method of terrestrial locomotion allowing humans and other</p>
        <span></span>
    </div>
    </div>
<!---post 4 -->
<div class="post">
    <div class="img-post">
        <img src="/static/img/sports/4.png"/>
    </div>
    <div class="title-post">
        <h2><a href='badminton.html'>Badminton</a></h2>
        <p>Badminton is a racquet sport played using racquets to hit a shuttlecock across a net</p>
        <span></span>
    </div>
    </div>
<!---post 5 -->
<div class="post">
    <div class="img-post">
        <img src="/static/img/sports/5.png"/>
    </div>
    <div class="title-post">
        <h2><a href="camping.html">Comping</a></h2>
        <p>Camping is an outdoor activity involving overnight stays away from home</p>
        <span style="background:#f7921e"></span>
    </div>
    </div>
<!---post 6 -->
<div class="post">
    <div class="img-post">
        <img src="/static/img/sports/6.png"/>
    </div>
    <div class="title-post">
        <h2><a href="ice_skating.html">Skate on a Snow</a></h2>
        <p>Snowskating combine elements of snowboarding and skateboarding</p>
        <span></span>
    </div>
    </div>
<!---post 7 -->
<div class="post">
    <div class="img-post">
        <img src="/static/img/sports/7.png"/>
    </div>
    <div class="title-post">
        <h2><a href='mountaineering.html'>Climbing Ropes</h2>
        <p>Ropes climbing a full body workout that's a great test</p>
        <span></span>
    </div>
    </div>
<!---post 8 -->
<div class="post">
    <div class="img-post">
        <img src="/static/img/sports/8.png"/>
    </div>
    <div class="title-post">
        <h2><a href='tennis.html'>Tennis</a></h2>
        <p>Tennis is a racket sport that is played either individually against a single</p>
        <span style="background:#f7921e"></span>
    </div>
    </div>
<!---post 9 -->
<div class="post">
    <div class="img-post">
        <img src="/static/img/sports/9.png"/>
    </div>
    <div class="title-post">
        <h2><a href='golf.html'>Golf</a></h2>
        <p>Stay uo to date on the latest golf news, gear, instruction and style from all the</p>
        <span></span>
    </div>
    </div>
</div>
</div>
<footer>
    <div class="continer">
        <div class='footer-top'>
            <h2>Ihope you find your best sport</h2>
        <div class="email-address"><input type="email" placeholder="Email Address"/>
        <span class="send">SAND</span>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="st1">
                <div class="logo">
                    <img src="/static/img/logo.png" alt="Sports" class="logo-img">
                    <h1>DIHSpot</h1>
                </div>
                <p class='disc'>We Know the world what sports games are spread around the world .</p>
                <ul class='social'>
                    <li><a href='https://www.facebook.com/profile.php?id=100009614706988&mibextid=ZbWKwL' class='facebook' target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href='#' class='twitter'><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href='https://www.instagram.com/p/Cg4cSKrM2yA/?igshid=NDk5N2NlZjQ=' class='instagram' target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href='https://www.linkedin.com/in/diaa-alqaisi-487628191' class='linkedin' target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="st2">
                <h3>Links</h3>
                <a href="home.html"><p>Home</p></a>
                <a href="sports.html"><p>Sports</p></a>
                <a href="contact_us.html"><p>Contact</p></a>
                <a href="login.html"><p>Account</p></a>
            </div>
            <div class="st3">
                <h3>Services</h3>
                <a href="#"><p>Low Price</p></a>
                <a href="#"><p>Good Material</p></a>
                <a href="#"><p>Nice Sport</p></a>
            </div>
            <div class="st4">
                <h3>Support</h3>
                <a href="#"><p>You can send</p></a>
                <a href="#"><p>email or in my</p></a>
                <a href="#"><p>Nice Sport</p></a>
                </div>
            <div class="st5">
                <h3>Loaction</h3>
                <p>Iraq , Baghdad , Zayouna</p>
                <h3>Contact</h3>
                <p>diaaalqais@gmail.com</p>
                <p>+9647705039608</p>
            </div>
        </div>
    </div>  
</footer>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<script>
$(function(){$(".menu-open").click(function(){
    $("body").toggleClass("open-active");
});
});
    </script>

</body>
</html>