<!DOCTYPE html>
<html>
<head>
    <title>Swimming - Sports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/swimming.css">
</head>
<body>
<div class='header'>
<div class="menu-open"><i class="fa-solid fa-bars"></i></div>
<div class='menu'>
    <ul>
        <li><a href='home.html'>Home</a></li>
        <li><a href='sports.html'>Sports</a></li>
        <li><a href='contact_us.html'>Contact</a></li>
        <li><a href='login.html'>Account</a></li>
    </ul>
</div>
<div class="logo">
    <img src="/static/img/logo.png" alt="Sports" class="logo-img">
    <h1>DTHSport</h1>
</div>
</div>
<div class="header-post">
    <div class="img-post">
        <img src="/static/img/swimming/1.jpg">
    </div>
    <div class="img-post">
        <img src="/static/img/swimming/2.jpg">
    </div>
</div>
<div class="continer">
<div class="conti">
    <h2>Swimming</h2>
    <p>swimming, in recreation and sports, the propulsion of the body through water by combined arm and leg motions and the natural flotation of the body. Swimming as an exercise is popular as an all-around body developer and is particularly useful in therapy and as exercise for physically handicapped persons
    </p>
    <h3>Swimming Facilities</h3>
    <p>A swimming pool, swimming bath, wading pool, paddling pool, or simply pool, is a structure designed to hold water to enable swimming or other leisure ...</p>
    <table>
        <tr class="tr"><td>Wearing to</td><td>None</td></tr>
        <tr><td>a swimsuit</td><td></td></tr>
        <tr><td>a swim cap</td><td></td></tr>
        <tr><td>goggles</td><td></td></tr>

    </table>
    <h3>Conditions and Rules</h3>
    <p>Jan 1, 2022 — At the start and turns, a swimmer is permitted one or more leg kicks and one arm pull under the water, which must bring him/her to the surface.</p>
<ol>
    <li>Don't Swim Alone if You're New to Swimming. Let's start with safety.</li>
    <li>Learn Proper Form & Technique. Another one of the basic rules of swimming is to brush up on proper form and technique.</li>
    <li>Modify Your Motions. ...</li>
    <li>Set Realistic Goals. ...</li>
</ol>    
</div>
</div>
<div class='h2-title'>
    <h2>Amazing Swimming<br/>in the world</h2>
</div>
    <div class="continer">
        <!---post 1 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/swimming/3.jpg"/>
            </div>
            <div class="title-post">
                <h2>Swimming</h2>
            </div>
            </div>
        <!---post 2 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/swimming/4.jpg"/>
            </div>
            <div class="title-post">
                <h2>Swimming</h2>
            </div>
            </div>
        <!---post 3 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/swimming/5.jpg"/>
            </div>
            <div class="title-post">
                <h2>Swimming</h2>
            </div>
            </div>
        </div>
<footer>
    <div class="continer">
        <div class='footer-top'>
            <h2>Ihope you find your best sport</h2>
        <div class="email-address"><input type="email" placeholder="Email Address"/>
        <span class="send">SAND</span>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="st1">
                <div class="logo">
                    <img src="/static/img/logo.png" alt="Sports" class="logo-img">
                    <h1>DIHSpot</h1>
                </div>
                <p class='disc'>We Know the world what sports games are spread around the world .</p>
                <ul class='social'>
                    <li><a href='https://www.facebook.com/profile.php?id=100009614706988&mibextid=ZbWKwL' class='facebook' target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href='#' class='twitter'><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href='https://www.instagram.com/p/Cg4cSKrM2yA/?igshid=NDk5N2NlZjQ=' class='instagram' target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href='https://www.linkedin.com/in/diaa-alqaisi-487628191' class='linkedin' target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="st2">
                <h3>Links</h3>
                <a href="home.html"><p>Home</p></a>
                <a href="sports.html"><p>Sports</p></a>
                <a href="contact Us.html"><p>Contact</p></a>
                <a href="login.html"><p>Account</p></a>
            </div>
            <div class="st3">
                <h3>Services</h3>
                <a href="#"><p>Low Price</p></a>
                <a href="#"><p>Good Material</p></a>
                <a href="#"><p>Nice Sport</p></a>
            </div>
            <div class="st4">
                <h3>Support</h3>
                <a href="#"><p>You can send</p></a>
                <a href="#"><p>email or in my</p></a>
                <a href="#"><p>Nice Sport</p></a>
                </div>
            <div class="st5">
                <h3>Loaction</h3>
                <p>Iraq , Baghdad , Zayouna</p>
                <h3>Contact</h3>
                <p>diaaalqais@gmail.com</p>
                <p>+9647705039608</p>
            </div>
        </div>
    </div>  
</footer>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script>
$(function(){$(".menu-open").click(function(){
    $("body").toggleClass("open-active");
});
});
</script>
</body>
</html>