<!DOCTYPE html>
<html>
<head>
    <title>Tennis - Sports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/tennis.css">
</head>
<body>
<div class='header'>
<div class="menu-open"><i class="fa-solid fa-bars"></i></div>
<div class='menu'>
    <ul>
        <li><a href='home.html'>Home</a></li>
        <li><a href='sports.html'>Sports</a></li>
        <li><a href='contact_us.html'>Contact</a></li>
        <li><a href='login.html'>Account</a></li>
    </ul>
</div>
<div class="logo">
    <img src="/static/img/logo.png" alt="Sports" class="logo-img">
    <h1>DTHSport</h1>
</div>
</div>
<div class="header-post">
    <div class="img-post">
        <img src="/static/img/Tennis/1.jpg">
    </div>
    <div class="img-post">
        <img src="/static/img/Tennis/2.jpg">
    </div>
</div>
<div class="continer">
<div class="conti">
    <h2>Tennis</h2>
    <p>Tennis is a game played on a rectangular-shaped court, which can be one of many surfaces. It is either played with two players (singles match), or four players (doubles match). Players stand on opposite sides of the net and use a stringed racquet to hit the ball back and forth to each other.</p>
    <h3>Tennis Facilities</h3>
    <p>Types of tennis courts ; Grass courts · Grass court ; Clay courts · Clay courts ; Hard courts · Hard courts ; Artificial grass · Artificial grass ...</p>
    <table>
        <tr class="tr"><td>Wearing to</td><td>None</td></tr>
        <tr><td>Racket</td><td></td></tr>
        <tr><td>tennis ball</td><td></td></tr>
        <tr><td>shoes</td><td></td></tr>
        <tr><td>a dress code</td><td></td></tr>
    </table>
    <h3>Conditions and Rules</h3>
    <p>Aug 1, 2022 — A player has to typically win four points to win a game and a minimum of six games, with a two-game difference, to claim a set. A player/team ...</p>
<ol>
    <li>A ball must land within the bounds for play to continue.</li>
    <li>Players or teams cannot touch the net or posts or cross onto their opponent's side.</li>
    <li>Players or teams cannot carry the ball or catch it with the racquet.</li>
    <li>No player can hit the ball twice.</li>
</ol>    
</div>
</div>
<div class='h2-title'>
    <h2>Amazing Tennis<br/>in the world</h2>
</div>
    <div class="continer">
        <!---post 1 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/Tennis/3.jpg"/>
            </div>
            <div class="title-post">
                <h2>Tennis</h2>
            </div>
            </div>
        <!---post 2 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/Tennis/4.jpg"/>
            </div>
            <div class="title-post">
                <h2>Tennis</h2>
            </div>
            </div>
        <!---post 3 -->
        <div class="post">
            <div class="imgi-post">
                <img src="/static/img/Tennis/5.jpg"/>
            </div>
            <div class="title-post">
                <h2>Tennis</h2>
            </div>
            </div>
        </div>
<footer>
    <div class="continer">
        <div class='footer-top'>
            <h2>Ihope you find your best sport</h2>
        <div class="email-address"><input type="email" placeholder="Email Address"/>
        <span class="send">SAND</span>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="st1">
                <div class="logo">
                    <img src="/static/img/logo.png" alt="Sports" class="logo-img">
                    <h1>DIHSport</h1>
                </div>
                <p class='disc'>We Know the world what sports games are spread around the world .</p>
                <ul class='social'>
                    <li><a href='https://www.facebook.com/profile.php?id=100009614706988&mibextid=ZbWKwL' class='facebook' target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href='#' class='twitter'><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href='https://www.instagram.com/p/Cg4cSKrM2yA/?igshid=NDk5N2NlZjQ=' class='instagram' target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href='https://www.linkedin.com/in/diaa-alqaisi-487628191' class='linkedin' target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="st2">
                <h3>Links</h3>
                    <a href='home.html'>Home</a>
                    <a href='sports.html'>Sports</a>
                    <a href='contact_us.html'>Contact</a>
                    <a href='login.html'>Account</a>
            </div>
            <div class="st3">
                <h3>Services</h3>
                <a href="#"><p>Low Price</p></a>
                <a href="#"><p>Good Material</p></a>
                <a href="#"><p>Nice Sport</p></a>
            </div>
            <div class="st4">
                <h3>Support</h3>
                <a href="#"><p>You can send</p></a>
                <a href="#"><p>email or in my</p></a>
                <a href="#"><p>Nice Sport</p></a>
                </div>
            <div class="st5">
                <h3>Loaction</h3>
                <p>Iraq , Baghdad , Zayouna</p>
                <h3>Contact</h3>
                <p>diaaalqais@gmail.com</p>
                <p>+9647705039608</p>
            </div>
        </div>
    </div>  
</footer>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script>
$(function(){$(".menu-open").click(function(){
    $("body").toggleClass("open-active");
});
});
</script>
</body>
</html>